h1 {

	text-align: center;

}

#grid {

	outline: 3px solid;
	height: 500px;
	width: 800px;
	margin: auto;

}

.column {

	float: left;

}

.cell {

	outline: 1px solid;

}

#buttons {

	width: 800px;
	padding-top: 20px;
	margin: auto;

}

#play {

	height: 50px;
	width: 50px;
	padding: 25px;
	float: left;

}

#pause {

	height: 100px;
	width: 100px;
	float: left;
	outline: 1px solid;

}